body{
        width: 100%;
        margin:0;
        padding:0;
        box-sizing: border-box;
}
.flex{
        display:flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        padding-top: 5%;
}
.box img{
        width: 70%;
}
.play img{
        width: 50%
}
.play{
        width: 50%;
        margin: 0 auto;
}
.box{
        flex: 1 1 300px;
        text-align: center;
}
.play{
        text-align: center;
        padding-top: 5%;
}
.play h1{
        background: orangered;
        width: 80%;
        border-radius: 10px;
        margin: 10% auto;
        padding: 20px 0;
}

/* Main playing CSS */
#water{
        position: relative;
        top: -150px;
}
#ring{
        position: relative;
        z-index: 1;
}
#boy{
        position: relative;
        top: 150px;
        z-index: 2;
}